<?xml version="1.0" encoding="UTF-8" ?>
<!--这个文件称作映射文件，每一个接口都对应一个映射文件-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RepliesMapper">


    <resultMap id="RepliesResultMap" type="Replies">
        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="replyTime" column="replyTime"/>
        <result property="infoId" column="infoId"/>
        <!--<association property="information" column="infoId" javaType="com.example.demo.domain.Information">
            <id property="id" column="id"/>
            <result property="title" column="title"/>
            <result property="content" column="content"/>
            <result property="replyCount" column="replyCount"/>
            <result property="viewCount" column="viewCount"/>
            <result property="reportTime" column="reportTime"/>
            <result property="lastPostTime" column="lastPostTime"/>
        </association>-->
    </resultMap>


    <select id="findAll" resultMap="RepliesResultMap" parameterType="java.lang.Integer">
        select id,content,replyTime from replies where id =#{id}
    </select>


    <insert id="save" parameterType="Replies" keyProperty="id" useGeneratedKeys="true">
        insert into replies (content,replyTime,infoId) value (#{content},#{replyTime},#{information.id})
    </insert>



</mapper>