<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>

    </style>
</head>
<body>
<table align="center" border="1">
<h1 align="center">手机资讯</h1>
<tr align="center">
    <td>序号</td>
    <td>标题</td>
    <td width="50px" colspan="2">回复</td>
    <td width="50px">查看</td>
    <td>发表时间</td>
    <td>最新回复</td>
</tr>
<tr th:each="in : *{inf}" align="center">
    <td th:text="${in.id}"></td>
    <td><a th:href="@{/findByid(id=${in.id})}" th:text="${in.title}"></a></td>
    <td th:text="${in.replyCount}" width="50px" colspan="2"></td>
    <td th:text="${in.viewCount}"  width="50px"></td>
    <td th:text="${in.reportTime}"></td>
    <td th:text="${in.lastPostTime}"></td>
</tr>
</table>
</body>
</html>